@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-13xl {
    font-size: 12rem;
  }
  .text-12xl {
    font-size: 11rem;
  }
}

@layer base {
  @font-face {
    font-family: 'Bernadette';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/BernadetteRegular-DOVj0.ttf') format('truetype');
  }

  @font-face {
    font-family: 'QuickKiss';
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/QuickKissPersonalUse-PxlZ.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Recoleta';
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/Recoleta-RegularDEMO.otf');
  }
}
