@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sahitya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-15xl {
    font-size: 14rem;
  }
  .text-10xl {
    font-size: 9rem;
  }
  .text-12xl {
    font-size: 11rem;
  }
}

@layer base {
  @font-face {
    font-family: 'Bernadette';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/BernadetteRegular-DOVj0.ttf') format('truetype');
  }

  @font-face {
    font-family: 'QuickKiss';
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/QuickKissPersonalUse-PxlZ.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Recoleta';
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/Recoleta-RegularDEMO.otf');
  }
}
