@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sahitya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-15xl {
    font-size: 14rem;
  }
  .text-10xl {
    font-size: 9rem;
  }
  .text-12xl {
    font-size: 11rem;
  }
}

@layer base {
  @font-face {
    font-family: 'Bernadette';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/BernadetteRegular-DOVj0.ttf') format('truetype');
  }

  @font-face {
    font-family: 'QuickKiss';
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/QuickKissPersonalUse-PxlZ.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Recoleta';
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/Recoleta-RegularDEMO.otf');
  }
}
/* * {
  border: 1px solid red;
} */

html {
  height: 100%;
}

#main {
  animation: 30s ease-in-out infinite alternate-reverse color-change;
  height: 100%;
}
@-webkit-keyframes color-change {
  0% {
    background-color: #ade7e7;
  }
  /* 15% {
      background-color: #7ec6c8;
    }
    30% {
      background-color: #a1dfa1;
    } */
  45% {
    background-color: #a6a6db;
  }
  /* 60% {
      background-color: #d8a5d8;
    }
    75% {
      background-color: #c6b1ec;
    }
    90% {
      background-color: #ade7e7;
    } */
  100% {
    background-color: #d8bbff;
  }
}

@keyframes color-change {
  0% {
    background-color: #83f1f1;
  }
  /* 15% {
      background-color: #7ec6c8;
    }
    30% {
      background-color: #a1dfa1;
    } */
  50% {
    background-color: #55dd8e;
  }
  /* 60% {
      background-color: #d8a5d8;
    }
    75% {
      background-color: #c6b1ec;
    }
    90% {
      background-color: #ade7e7;
    } */
  100% {
    background-color: #595bee;
  }
}
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #e28b0a #00ffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 32px;
}

*::-webkit-scrollbar-track {
  background: #00ffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e28b0a;
  border-radius: 100px;
  border: 3px solid #e44343;
}
